<br>
<br>
<br>

<div class="card w-50 center">

  <div class="card-header ">

<!--New Note Button-->
<div class="d-flex justify-content-between">

    <h4><%= note.title %></h4>
<%= button_to "", note, method: :delete, class:"btn-close" %>

</div>

<!--New Note Button End-->

</div>
  <div class="card-body">
    <h5 class="card-title">

    </h5>
    <p class="card-text">

    <%= note.text%>
   </p> 
  </div>
</div>
<div class="center w-50">
<p class="fw-lighter"> Created:    <%= note.created_at%></p>
</br>
  <%= link_to "edit", edit_note_path(note.id), class:"btn btn-warning btn-sm"  %> 
</br>
  <%= link_to "Back to notes", notes_path %>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>